[submodule "fair-launch-fe"]
	path = fair-launch-fe
	url = git@github.com:Cyberk-vn/fair-launch-fe.git
[submodule "fair-launch-be"]
	path = fair-launch-be
	url = git@github.com:Cyberk-vn/fair-launch-be.git
